*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 10000px;
}
.main{
    margin-top: 50px;
    background-color: red;
}
h1{
    color: white;
    text-align: center;
    padding-top: 100px;
}
.item{
    height: 30px;
    background-color: blue;
    margin-bottom: 20px;
}
.alert-primary{
    background-color: greenyellow;
}
.carousel-item{
    width: 1140px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.carousel-item:first-child{
    background-image: url('../img/1.jpg');
}
.carousel-item:nth-child(2){
    background-image: url('../img/2.jpg');
}
.carousel-item:nth-child(3){
    background-image: url('../img/3.jpg');
}
.carousel-control-prev-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('../img/arrow.jpg');
    background-position:  center;
    -webkit-background-size: contain;
    background-size: contain;
}
.carousel-control-next-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('../img/arrow.jpg');
    background-position:  center;
    -webkit-background-size: contain;
    background-size: contain;
    transform: rotate(180deg);
}
.carousel-indicators li{
    width: 50px;
    height: 20px;
    border-radius: 50%;
}
.test{
    width: 100%;
}